:root {
    --color-background: rgba(44, 44, 44, 0.748);
    --color-background-subtitle: rgba(35, 34, 34, 0.819);
    --color-principal: #00A2FF;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-btn-sucess: #28a745;
    --color-btn-danger: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../../assets/img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-white);
    overflow: hidden;
    overflow-y: scroll;
}

/* Profile.css */

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.profile-page {
    display: flex;
    height: 100vh;
}

.profile-menu {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .profile-menu {
    background-color: #1e1e1e;
}

.profile-menu ul {
    list-style: none;
    padding: 0;
    color: #000;
    font-size: 1.5rem;
}

.profile-menu ul li {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: var(--color-white);
}

body.dark-theme .profile-menu ul li {
    background-color: #2e2e2e;
    color: var(--color-white);
}

.profile-menu ul li:hover {
    text-decoration: underline;
}

body.dark-theme .profile-menu ul li:hover {
    background-color: #000000;
}

.profile-content-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
}

body.dark-theme .profile-content-container {
    background-color: #181818;
    color: var(--color-white);
}

.profile-content {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 2rem;
}

body.dark-theme .profile-content {
    background-color: #242424;
    color: var(--color-white);
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}



/* agregar productos */

/* src/assets/css/Description.css */
.description-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 2rem;
}

.description-image {
    width: 40%;
    margin-right: 20px;
    margin-left: 2.5rem;
}

.description-details {
    margin-left: 15rem;

}

.description-details h2 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.description-details p {
    margin-bottom: 5px;
    font-size: 2rem;
}



.bi-arrow-left-circle {
    font-size: 4rem;
    color: var(--color-white);
    cursor: pointer;
    margin-left: 4.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;

}

.bi-arrow-left-circle:hover {
    color: var(--color-principal);

}


/* fin de agregar productos */
/*loader*/
.logo_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1000;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--color-white);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 300ms linear infinite;
    -webkit-animation: rotation 300ms linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*fin de loader*/
/* slider carrusel*/
.slide {
    background-color: #ffffff0a;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top: 1rem;

}

.carousel-item {
    width: 100%;
    height: 25rem;
    transition: all 0.6s;

}

.img-slide {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    /* Ajusta el tamaño si es necesario */
    height: 50px;
    /* Ajusta el tamaño si es necesario */
    opacity: 0;
}

.slide:hover .carousel-control-prev-icon,
.slide:hover .carousel-control-next-icon {
    opacity: 1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    height: 100%;
    opacity: 0.8;

}

/*mensaje confirmacion de ventas*/
.confirm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-dialog-content {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.confirm-dialog-content h2 {
    margin-bottom: 20px;
}

.confirm-dialog-content button {
    margin: 5px;
}

.text {
    color: #000;
}

/*fin de confirmacion de productos*/

/* scroll up button */
.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 26px;
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;

}

.bi-arrow-up-short {

    font-size: 4rem;
    text-align: center;
    color: var(--color-principal);

}

.scroll-up-btn.show {
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.scroll-up-btn:hover {
    scale: 1.3;
}

/*fin de scroll up button*/

/*menu-principal*/
.menu-principal {
    display: flex;
    align-items: center;
    background-color: var(--color-principal);
    padding: 7px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;

}

.title-nav_principal {
    color: var(--color-white);
    font-size: 2.5rem;
    text-decoration: none;
}

.title-nav_principal:hover {
    color: var(--color-white);
    text-decoration: underline;
}

.container-category {
    width: 10%;
    display: block;
    background-color: var(--color-black);
    border-radius: 1rem;

}

.btn-category {
    font-size: 2rem;
    border: none;
}



.title-category {
    color: var(--color-white);
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    margin-left: 1.5rem;

}

.title-category:focus {
    border: none;
}

.menu-category {
    width: 100% !important;
    list-style: none;
    background-color: var(--color-black);
    padding: 0.5rem;


}

.category-item {

    color: var(--color-white);
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: justify;
    border-radius: 4px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

/*fin de menu-principal*/

/*formulario navbar*/
.container-form {
    width: 40%;

}

.content-form {
    width: 100%;
    display: flex;
}

.input-search {
    width: 100%;
    height: 40px;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
    border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
    padding-left: 2rem;
    border: none;
    background-color: var(--color-white) !important;
}

.btn-search {
    width: 50px;
    height: 40px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
    transition: all 300ms ease-in-out;
    margin-top: 1rem;
}

.btn-search:hover {
    background-color: var(--color-black);
    opacity: 0.8;
    color: var(--color-white);
}

/*fin de formulario navbar*/

/*estilos al enlace de mis compras*/

.title-nav__compras {
    color: var(--color-white);
    font-size: 2.1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.title-nav__compras:hover {
    color: var(--color-white);
    text-decoration: underline;
}

/*fin de estilos al enlace de mis compras*/

/*estilos al btn de reaccionar*/

.container-reaccion {
    width: 50px;
    height: 70%;

    text-align: center;

}

.btn__encanta {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    color: var(--color-white);
    font-size: 3rem;
}

.btn__encanta .bi {
    transition: color 0.3s ease, transform 0.3s ease;
}

.btn__encanta .bi-heart-fill {
    color: red;
}

.heart-animate {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*fin de estilos al btn de reaccionar*/

/*btn de cerrar sesion y iniciar sesion*/
.nav-cerrarsesion,
.nav-iniciarsesion {
    display: block;
    width: 10%;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-left: 1rem;

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.btn-logout,
.btn-login {
    display: block;
    font-size: 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;

    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

/*fin de btn de cerrar sesion y iniciar sesion*/

/*estilo al carrirto de compras*/
.carrito_compras-btn {
    position: relative;
    font-size: 2.9rem;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
}

.contador-carrito {
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitulo__carrito {
    font-size: 2.5rem;
    color: var(--color-black);
    margin-bottom: 1rem;
    text-align: center;
}

.contentCarrito {
    display: block;
    position: absolute;
    width: 100%;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    height: 70%;
    max-height: 70%;
    min-height: 70%;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-right: 0.5rem;

}

.productosCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    font-size: 1.5rem;
    background-color: rgba(206, 206, 206, 0.738);
    font-weight: bold;
    margin-bottom: 1rem;
}

.item-productos {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-danger__comprar {
    display: block;
    width: 25%;
    font-size: 1.4rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
    margin-right: 1rem;
}

.btn-danger__comprar:hover {
    background-color: var(--color-black);
    scale: 1.1;
    color: var(--color-white);
}

.total {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    bottom: 5rem;
    margin-left: 2rem;
}

.btn-success__comprar {
    position: absolute;
    display: block;
    width: 90%;
    font-size: 1.4rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
    bottom: 1rem;
    margin-left: 2rem;
}


/*fin de estilo al carrirto de compras*/

/*estilos al btn de hamburguesa*/

.navbar-toggler {
    height: 45px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.navbar-toggler-icon {
    color: var(--color-white);
    font-size: 2rem;
}

.navbar-toggler-icon:hover {
    color: var(--color-white);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

/*fin de estilos al btn de hamburguesa*/

/*estilo para el menu que esta en el lateral*/

.btn-close {
    display: block;
    width: 10%;
    font-size: 1.8rem;
    padding-left: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.profile-img,
.bi-person-circle {
    margin-right: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 25%;

}

.name-user {
    font-size: 2.5rem;
    color: var(--color-black);
    margin-right: 1rem;
    margin-top: 5rem;
}

.nav-item {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 10% !important;
    margin-left: 1.5rem;
    font-size: 2rem !important;
    color: var(--color-white);
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 80%;
    margin-top: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-black);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 1;
}

.active {
    color: var(--color-principal) !important;
    text-decoration: underline;

}


.container-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.redes__link {
    color: var(--color-black);
    font-size: 2.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.redes__link:hover {
    scale: 1.3;
    color: var(--color-principal);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.link-instagram:hover {
    scale: 1.3;
    color: #d42b8b !important;
}

.link-whatsapp:hover {
    scale: 1.3;
    color: #25D366 !important;
}

/*fin de estilo para el menu que esta en el lateral*/

/*estilo a todo lo relaciona con principal*/
.container__principal,
.section_description,
.content-ventas,
.container-about,
.container_agregar_producto,
.container-eliminar__producto {
    margin-top: 9rem;
    width: 100%;
}

/*Fin estilo a pagina principal*/

/*tarjetas de productos*/
.productos-card {
    display: block;
    width: 85%;
    margin-left: 4rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
}

.titulo_card__principal,
.mensaje_stock {
    font-size: 3rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    text-align: center;
}


.content-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem !important;

}

.card {

    width: 100%;
    max-width: 300px;
    height: 100%;
    gap: 1rem;
    background-color: rgba(35, 34, 34, 0.819);
    margin-top: 1rem;
}

.card-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex: 1;
}



.card-img-top {
    height: 200px;
    width: 100%;
}

.imagen {
    width: 100%;
    border-radius: 1rem;
}

.carrito-item-imagen {
    height: 50px;
    width: 13%;
}

.card-title {
    font-size: 2rem;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.436);
    text-align: center;
}

.card-text__cantidad {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.436);
    text-align: center;
    margin-bottom: -1rem !important;
    margin-top: -2rem;

}

.card-description {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.436);
    text-align: center;
    margin-bottom: 1rem !important;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    cursor: pointer;
}


.cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgba(206, 206, 206, 0.738);
    font-weight: bold;
    width: 70%;
    margin-left: 4.5rem;
    margin-top: 1rem;
    opacity: 0.9;
    outline: none;
    border-radius: 0.9rem;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    -ms-border-radius: 0.9rem;
    -o-border-radius: 0.9rem;
    padding-left: 0.9rem;
    text-align: center;
}

.cantidad:focus {
    border: 2px solid rgb(0, 162, 255);
}

.btn-primary__agregar,
.btn-eliminar-producto,
.btn-modificar {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--color-principal);
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 300ms ease-in-out;

}

.btn-primary__agregar:hover,
.btn-modificar:hover {
    background-color: var(--color-white);
    opacity: 0.8;
    color: var(--color-principal);
}

.btn-eliminar-producto {
    background-color: var(--color-btn-danger);


}

.btn-eliminar-producto:hover {
    background-color: var(--color-white);
    opacity: 0.8;
    color: var(--color-btn-danger);
}

/*fin de tarjetas de productos 

/*estilos a la parte de confirmacion*/

.confirm-dialog-content {
    display: block;
    width: 30%;
}

.btn-success_confirmar,
.btn-danger_cancelar,
.btn-danger-detalle {
    width: 40%;
    font-size: 1.8rem;
    background-color: var(--color-btn-sucess);
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.btn-danger_cancelar,
.btn-danger-detalle {
    background-color: var(--color-btn-danger);
}

.btn-success_confirmar:hover {
    background-color: var(--color-btn-sucess);
    color: var(--color-white);
    scale: 1.1;
}

.btn-danger_cancelar:hover,
.btn-danger-detalle:hover {
    background-color: var(--color-btn-danger);
    color: var(--color-white);
    scale: 1.1;
}

/*fin de estilos a la parte de confirmacion*/
/*estilos al detalle de la venta y a mis compras*/
.cabecera_detalle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}

.titulo-ventas,
.titulo-detalle {
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    margin-top: 1rem;
}

.container-detalle {
    display: flex;
    margin-top: 4rem;
    gap: 1rem;
}

.codigo-ventas,
.detalle-venta {
    width: 40%;
    font-size: 2rem;
    height: 50rem;
    min-height: 50rem;
    max-height: 50rem;
    background-color: rgba(255, 255, 255, 0.527);
    color: var(--color-black);
    margin-bottom: 1rem;
    margin-left: 10rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
}



.codigo-menu {
    font-size: 2rem;
    color: var(--color-black);
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.ventasItem {
    width: 100%;
    list-style: none;
    margin-bottom: 2.5rem;
    font-weight: bold;

}

.ventasItem:last-child {
    margin-bottom: 0;
}

.btn-ver_detalle {
    display: block;
    width: 70%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1.8rem;

    margin: 0 auto;
    margin-top: 1rem;
}

.btn-ver_detalle:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    scale: 1.1;
}

.detalle-venta {
    background-color: transparent;
}

.menu-detalle {
    width: 100%;
    font-size: 2rem;
    background-color: rgba(206, 206, 206, 0.738);
    color: var(--color-black);
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    list-style: none;

}

.detalleItem {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);

}

.nombre_producto-detalle,
.precio_producto-detalle,
.cantidad_producto-detalle {
    width: 25%;
    text-align: center;
}

.nombre_producto-detalle {
    text-align: justify;
    margin-left: 2.5rem;
}

.datos__venta {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
}

.Total-detalle,
.Fecha-detalle {
    font-size: 1.8rem;
}

/*fin de estilos al detalle de la venta y mis compras*/
/*estilos a sobre nosotros*/

.container-about {
    background-color: var(--color-background);
}

.header-about {
    width: 100%;
    text-align: center;
}

.titulo-header {
    font-size: 4rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.article {
    display: block;
    text-align: justify;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
}

.titulo-article {
    font-size: 2.8rem;

    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
}

.subtitle-about {
    font-size: 2.4rem;
    color: var(--color-white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    opacity: 0.7;
}

.text-article,
.lista-politica {
    font-size: 1.8rem;
    color: var(--color-white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    opacity: 0.7;
}

/*fin de estilos a sobre nosotros*/
/* estilos a la pagina agregar producto*/
.container_agregar_producto {
    display: flex;
    justify-content: space-around;
}

.content-input {
    width: 50%;
    display: block;
    height: 100%;
    opacity: 0.8;

}

.input_agregar_producto {
    display: block;
    height: 5rem;
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    outline: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    opacity: 0.7;
    padding-left: 2rem;

}

.input_agregar_producto:focus {
    border: 2px solid rgb(0, 162, 255);
}

.input_agregar_producto::placeholder {
    color: rgb(7, 7, 7);
    font-size: 1.8rem;
    padding-left: 2rem;
}

.input_agregar_producto:focus::placeholder {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.6rem;
    color: rgb(0, 162, 255);

}

.btn-agregar {
    display: block;
    width: 50%;
    font-size: 2.5rem;
    background-color: var(--color-principal);
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
    transition: all 300ms ease-in-out;

}

.btn-agregar:hover {
    background-color: var(--color-white);
    color: var(--color-principal);
    scale: 1.1;
}

/* Estilos a la pagina de productos agregados */
.productos-agregados {
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    background-color: rgb(57, 57, 57);
    font-weight: 100;
    width: 25%;
    margin-left: 3.3rem;
    top: 13rem;
    border-radius: 1.4rem;
    opacity: 0.8;
    min-height: 45rem;
    max-height: 50rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 1rem;
}

.productos-agregados::-webkit-scrollbar,
.contentCarrito::-webkit-scrollbar,
.codigo-ventas::-webkit-scrollbar,
.detalle-venta::-webkit-scrollbar {
    width: 25px;
    background: transparent;
}

.productos-agregados:hover::-webkit-scrollbar-thumb,
.contentCarrito:hover::-webkit-scrollbar-thumb,
.codigo-ventas:hover::-webkit-scrollbar-thumb,
.detalle-venta:hover::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
    box-shadow: inset 0 0 0 10px var(--color-principal);
}

.productos-agregados:hover::-webkit-scrollbar-thumb:hover,
.contentCarrito:hover::-webkit-scrollbar-thumb:hover,
.codigo-ventas:hover::-webkit-scrollbar-thumb:hover,
.detalle-venta:hover::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 10px rgb(0, 0, 0);
    border: 8px solid transparent;

}

.titulo-agregados {
    text-align: center;
    color: white;
    font-size: 3rem !important;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1.5rem !important;
    margin: 0 auto;
}

.list-agregado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    padding: 0.5rem;
    opacity: 0.8;

}

.nombre-agregado {
    width: 30%;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    margin-right: 3rem;
    text-transform: uppercase;
}

/* fin de estilos a la pagina de productos agregados */

/*fin estilos a la pagina agregar producto*/

/*formulario de actualizar productos */
.actualizar {
    display: flex;
    width: 100%;
    padding: 0.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    font-size: 1.4rem;
    background-color: rgba(206, 206, 206, 0.738);
    font-weight: bold;
    margin-left: 0.1rem;
    outline: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-left: 1rem;
}

.actualizar:focus {
    border: 2px solid rgb(0, 162, 255);
}

.label {
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    opacity: 0.8;
    margin: 0 auto;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0.8;
    margin-top: 0.9rem;
}

.Guardar {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    opacity: 0.8;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
    margin-bottom: 0.4rem;
}

.Guardar:hover {
    background-color: rgb(0, 162, 255);
    opacity: 1;
}

.cancelar {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    opacity: 0.8;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
}

.cancelar:hover {
    background-color: rgb(255, 0, 0);
    opacity: 1;
}